<p id="notice"><%= notice %></p>



<table>
  <thead>
  <tr>
    <th>Artist name</th>
    <th>Favorite artist</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @artist_results.each do |artist| %>
      <tr>
        <td><%= link_to artist.artist_name, artist_path(artist) %>
        <td style="text-align:center">
          <% if artist.favorite_artist %>
                &#10004;

          <% else %> &nbsp; <% end %>
        </td>

        <td><%= link_to 'Show', artist %></td>
        <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
        <td><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<br/>